/* You can add global styles to this file, and also import other style files */
.btn-primary {
    color: #fff;
}

.btn-primary, .btn-primary:hover, .btn-primary:disabled {
    background-color: rgb(156, 40, 40);
    border-color: rgb(156, 40, 40);  
} 
