<main>
  <section class="py-5 text-center sectionContainer">
    <div class="container">

      <div class="row py-sm-5 welcomeContainer">
        <div class="col-lg-6 col-md-8 mx-auto welcome">
          <h1 class="fw-light">Bem-vindo!</h1>
          <p class="lead text-muted">Veja como está a segurança da sua região</p>
          <p class="lead text-muted">
            <a routerLink="/mapa" class="btn btn-lg btn-primary my-2">Começar</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 bg-light infoContainer">
    <div class="container">
      <div class="row">
        <div class="col center-align text-center">
          <div>
            <i class="fa-solid fa-circle-info"></i><br />
            <h3>Estou Seguro?</h3>
            <p>É uma plataforma que utiliza a API do Google Maps possibilitando que todos cidadãos
              possam visualizar de forma simples, locais com maiores números de ocorrências podendo assim, andar com mais segurança.</p>
          </div>
        </div>

        <div class="col center-align text-center">
          <div>
            <i class="fa-solid fa-map"></i><br />
            <h3>Mapa</h3>
            <p>Saiba onde roubos ocorreram perto de você assim como a data, horário e a descrição do acontecimento. Você
              pode ajudar também, registrando novas ocorrências.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>